body {
  margin: 0;
  padding: 0;
  font-family: monospace;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background: #262f35;
  color: #fff;
}

.logo {
  font-size: 1.7rem;
  font-weight: bold;
  pointer-events: none;
}

.units-selector {
  margin-right: 20px;
}

.add-location-form {
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.weather-dashboard {
  padding-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
}

.location-list {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.location {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 200px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
}

.location__name {
  font-size: 1.5rem;
}

.location__temperature {
  font-size: 3.5rem;
}
