* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Rubik', sans-serif;
  background: #DDE8EE;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background: #344965;
  color: #fff;
}

.logo {
  font-size: 1.7rem;
  font-weight: bold;
  pointer-events: none;
}

.language-selector {
  margin-right: 20px;
  padding: 3px 5px;
  border: none;
  font-family: 'Rubik', sans-serif;
  font-size: 1.1rem;
  text-transform: uppercase;
  color: #577293;
}

.dashboard-contorls {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 20px;
  padding-left: 20px;
  padding-bottom: 20px;
}

.add-location-form {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 0;
  margin-right: 20px;
}

.add-location-input {
  padding: 10px 15px;
  height: 40px;
  border: none;
  background: #fff;
  font-size: 1.1rem;
  margin-right: 15px;
}

.dashboard-contorls-button {
  padding: 10px 15px;
  height: 40px;
  border: none;
  background: #344965;
  color: #fff;
  font-size: 1.1rem;
  cursor: pointer;
  box-shadow: 1px 1px 6px 0 rgba(193, 107, 107, 0.15);
}

.dashboard-contorls-button:hover {
  color: rgba(255, 255, 255, 0.8);
}

.update-all-button {
  margin-right: 20px;
}

.weather-dashboard {
  padding-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
}

.location-list {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.location {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 250px;
  height: 300px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  padding: 10px 20px;
  border-radius: 10px;
  background: #fff;
  color: #577293;
  box-shadow: 0px 3px 10px 4px rgba(192, 203, 210, 0.8);
}

.location__name {
  text-align: center;
  font-size: 1.3rem;
}

.weather {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.weather__icon {
  margin-right: 15px;
}

.temperature {
  display: flex;
  flex-direction: row;
}

.temperature__value {
  font-size: 3rem;
}

.temperature__units {
  font-size: 1.3rem;
}

.units-button {
  border: none;
  background: none;
  font-size: 1.1rem;
  color: #577293;
  opacity: 0.3;
  outline: none;
  cursor: pointer;
}

.units-button--active{
  cursor: default;
  opacity: 1;
}

.units-button:hover {
  opacity: 1;
}

.description {
  padding-top: 10px;
  padding-bottom: 20px;
  font-size: 1.3rem;
}

.full-row {
  flex: 1 1 100%;
}

.location-controls {
  position: absolute;
  right: 0;
  top: 0;
  display: flex;
  flex-direction: row;
}

.location-controls__button {
  display: flex;
  width: 40px;
  height: 30px;
  padding-top: 10px;
  justify-content: center;
  font-size: 1.1rem;
  font-weight: bold;
  cursor: pointer;
  background: none;
  color: #577293;
  border: none;
  opacity: 0.3;
  outline: none;
}

.location-controls__button:hover {
  opacity: 1;
}
